<head>

  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MJVPTBN0Y6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MJVPTBN0Y6');
</script>
  <!-- End Google Analytics -->
  
  <meta charset="UTF-8">
  <meta http-equiv="Expires" content="600" />
  <meta propery="og:type" content="website" />
  <meta property="og:url" content="{{site.url}}" />
  <meta property="og:title" content="Sidi Mohammed Boughalem" />
  <meta property="og:description" content="What's up ma DING DONGS!!!" />
  <meta property="og:image" content="https://sithlord-dev.github.io/assets/images/me.jpg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <link rel="shortcut icon" type="image/png" href="/assets/images/sith icon.png">
  <title>{{site.title}}</title>
</head>
