<div class="col s12 m12 l6 paper">
  <div class="valign-wrapper">
    <div class="col s8 offset-s2">
      <h3 class="heading" >On the generating function and algebraicity of Eisenstein-Kronecker numbers</h3>
      <div class="row">
        <div class="row">
        </div>
      </div>

      <!-- Modal Trigger -->
      <button class="fill col s12 modal-trigger" href="#6">learn more</button>
    </div>
  </div>
  <!-- Modal Structure -->
  <div id="6" class="modal modal-fixed-footer">
    <div class="modal-content">
      <div class="carousel carousel-slider center" data-indicators="true">
        <div class="white-text carousel-item">
          <div class="image_wrapper">
            <img class="responsive-img project_img" src="/assets/images/project_covers/theta.png" alt="" style="width:cover;">
          </div>
        </div>
      </div>
      <div class="project_info">
        <div class="row">
          <div class="col s3 m2 info_type">
            title:
          </div>
          <h4 class="col s9 m10">On the generating function and algebraicity of Eisenstein-Kronecker numbers</h4>
        </div>
        <div class="row">
          <div class="col s3 m2 info_type">
            descrip.
          </div>
          <p class="description col s9 m10">I had the chance in my Master thesis, to study the algebraic properties of the Eisenstein-Kronecker numbers, an elliptic analogue of the generalised Bernoulli numbers, in the case of an imaginary quadratic field. They are, in this sense, related to the special values of Hecke L-series on imaginary quadratic fields. The idea was to follow Bannai and Kobayashi’s paper
<a href="https://projecteuclid.org/euclid.dmj/1274902081">[BK+10]</a> and show that the two-variable generating  function of these numbers (which is the elliptic analogue of the cotangent function for the Bernoulli numbers) belongs to a canonical class of theta functions, called the reduced theta functions.
          </p>
        </div>
        <div class="row">
          <div class="col s3 m2 info_type">
            tags:
          </div>
          <div class="col s9 m10">
          <p class="col s9 m10">
              <p class="col s9 m10">elliptic functions</p>
              <p class="col s9 m10">Mumford's algebraic Theta functions</p>
              <p class="col s9 m10">Hecke L-functions</p>
              <p class="col s9 m10">Hecke L-series</p>
              <p class="col s9 m10">Imaginary quadratic fields</p>

          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer center-align">
        <div class="buttons">
          <a class="button_wrapper" target="_blank" href="/docs/Master Thesis.pdf"><button class="fill">PDF</button></a>
          <a class="button_wrapper" target="_blank" href="https://projecteuclid.org/euclid.dmj/1274902081"><button class="fill">[BK + 10]</button></a>
        </div>
    </div>
  </div>
</div>
</div>
